<div class="col-12 col-lg-10 my-2 border border-secondary border-hover rounded">
	<a class="link-light link-underline link-underline-opacity-0 link-opacity-75-hover"><h1 class="display-3 pe-none mt-3" aria-disabled="true">ACCOUNT SETTINGS</h1></a>
	<div class="card bg-dark text-center">
		<div class="card-header mx-auto mt-3 border-top">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<a href="#changeUsername" class="nav-link bg-dark text-light active" data-bs-toggle="tab">Change Username</a>
				</li>
				<li class="nav-item">
					<a href="#changeMotto" class="nav-link bg-dark text-light" data-bs-toggle="tab">Change Motto</a>
				</li>
				<li class="nav-item">
					<a href="#change2FA" onclick="toggle2FA()" class="nav-link bg-dark text-light" data-bs-toggle="tab">Change 2FA Option</a>
				</li>
				<li class="nav-item">
					<a href="#changePfp" class="nav-link bg-dark text-light" data-bs-toggle="tab">Change Profile Picture</a>
				</li>
				<li class="nav-item">
					<a href="#chgPasswd" class="nav-link bg-dark text-light" data-bs-toggle="tab">Change Password</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<div class="tab-content">
				<!--CHANGE USERNAME-->
				<div class="tab-pane fade show active" id="changeUsername">
					<div class="col-7 col-lg-3 mx-auto">
						<form id="changeUsernameForm">
							<div class="input-group my-2" data-bs-placement="right" data-bs-content=" ">
								<span class="input-group-text bg-dark text-light">
									<span class="bi-person-fill"></span>
								</span>
								<input id="newUserField" type="text" class="form-control bg-dark border-secondary border-hover text-light" placeholder="New Username">
							</div>
							<button id="chgUsernameBtn" type="submit" class="btn btn-outline-light btn-hover mt-2">Confirm</button>
						</form>
					</div>
				</div>
				<!--CHANGE MOTTO-->
				<div class="tab-pane fade" id="changeMotto">
					<div class="col-7 mx-auto">
						<form id="changeMottoForm">
							<div class="input-group my-2" data-bs-placement="right" data-bs-content=" ">
								<input id="newMottoField" type="text" class="form-control border-secondary border-hover bg-dark text-light" placeholder="New Motto"></textarea>
							</div>
							<button id="chgMottoBtn" type="submit" class="btn btn-outline-secondary btn-outline-light btn-hover mt-2" data-bs-placement="right" data-bs-content=" ">Confirm</button>
						</form>
					</div>
				</div>
				<!--CHANGE 2FA -->
				<div class="tab-pane fade" id="change2FA">
					<div id="chg2FAForm" class="d-flex flex-row">
						<div class="d-flex flex-column mx-auto align-items-center justify-content-center">
							<p id="twofa-text" class="text-danger"></p>
							<button id="toggle2FABtn" onclick="enable2FA()" class="btn btn-outline-secondary btn-outline-light btn-hover mt-2">Enable</button>
						</div>
					</div>
				</div>
				<!--CHANGE PFP-->
				<div class="tab-pane fade" id="changePfp">
					<div class="col-7 col-lg-3 gap-2 mx-auto">
						<form id="changePfpForm">
							<div class="my-2">
								<input data-bs-placement="right" data-bs-content=" " id="pfpUploadBtn" type="file" class="btn btn-dark" accept="image/*"></input>
							</div>
							<button id="submitPfpBtn" type="submit" class="btn btn-outline-secondary btn-outline-light btn-hover mt-2">Confirm</button>
						</form>
					</div>
				</div>
				<div class="tab-pane fade" id="chgPasswd">
					<div class="col-7 col-lg-3 mx-auto">
						<form id="chgPasswdForm">
							<!--OLD PASSWORD-->
							<div class="input-group my-2" data-bs-placement="right" data-bs-content=" ">
								<span class="input-group-text bg-dark text-light">
									<span class="bi-lock-fill"></span>
								</span>
								<input id="oldPasswordField" type="password" class="form-control border-secondary border-hover bg-dark text-light" placeholder="Old Password">
							</div>
							<!--NEW PASSWORD-->
							<div class="input-group my-2" data-bs-placement="right" data-bs-content=" ">
								<span class="input-group-text bg-dark text-light">
									<span class="bi-lock-fill"></span>
								</span>		
								<input id="newPasswordField" type="password" class="form-control border-secondary border-hover bg-dark text-light" placeholder="New Password">
							</div>
							<!--CONFIRM NEW PASSWORD-->
							<div class="input-group my-2" data-bs-placement="right" data-bs-content=" ">
								<span class="input-group-text bg-dark text-light">
									<span class="bi-lock-fill"></span>
								</span>
								<input id="confirmPasswordField" type="password" class="form-control border-secondary border-hover bg-dark text-light" placeholder="Confirm New Password">
							</div>
							<div data-bs-placement="right" data-bs-content=" ">
								<button id="chgPasswdBtn" type="submit" class="btn btn-outline-secondary btn-outline-light btn-hover mt-2">Confirm</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	#changeUsernameForm .form-control::placeholder {
		color: white;
		opacity: 0.75;
	}
	#changeMottoForm .form-control::placeholder {
		color: white;
		opacity: 0.75;
	}

	#chgPasswdForm .form-control::placeholder {
		color: white;
		opacity: 0.75;
	}

	.border-hover:hover {
		color: var(--bs-light);
		background-color: transparent;
		border-color: var(--bs-light) !important;
	}
	.btn-hover:hover {
		color: var(--bs-light);
		background-color: transparent;
		border-color: var(--bs-light) !important;
		border-width: 2px;

	}
</style>