<div class="col col-lg-10 mt-2 py-2 border border-secondary border-hover rounded">
	<a class="link-light link-underline link-underline-opacity-0 link-opacity-75-hover"><h1 class="display-3 pe-none mt-3" aria-disabled="true">FRIEND REQUESTS</h1><a class="link-light link-underline link-underline-opacity-0 link-opacity-75-hover">
	<div class="position-relative" style="height: 350px; overflow-x: auto;">
		<table class="table table-responsive table-borderless table-hover table-dark fw-bolder align-middle">
			<div id="popover" data-bs-placement="right" data-bs-content=" ">
			</div>
			<tbody id="frList">
			</tbody>
		</table>
	</div>
</div>
<style>
	.border-hover:hover {
		color: var(--bs-light);
		background-color: transparent;
		border-color: var(--bs-light) !important;
	}
</style>