<div class="col-12 col-lg-5 mx-lg-1 my-2 border">
	<div class="row">
		<div class="col-12">
			<h1 class="display-3 mt-4 pe-none">PLAY PONG</h1>
		</div>
	</div>
	<div class="row py-3 my-5 justify-content-center">
		<div class="col-8 col-lg-6 d-grid gap-3 my-5">
			<button id="btnFriendlyMatch" type="button" class="btn btn-lg btn-primary fw-bolder">FRIENDLY MATCH</button>
			<button id="btnTournament" type="button" class="btn btn-lg btn-danger fw-bolder">TOURNAMENT</button>
		</div>
	</div>
</div>
<div class="col-12 col-lg-5 mx-lg-1 my-2 px-5 border">
	<h1 class="display-3 mt-4 pe-none">SETTINGS</h1>
	<div class="row my-1 justify-content-center">
		<div class="col col-lg-10 mt-4">
			<h3 class="display-6 pe-none">GAMEPLAY</h3>
			<div class="input-group py-1">
				<label class="fw-bold input-group-text bg-dark text-light w-50 text-wrap">Match Type</label>
				<select id="matchType" class="form-select bg-dark text-light text-center">
					<option value="Single Player">Single Player</option>
					<option value="Local Multiplayer">Local Multiplayer</option>
					<option value="Online Multiplayer">Online Multiplayer</option>
				</select>
			</div>
			<div class="input-group py-1">
				<label class="fw-bold input-group-text bg-dark text-light w-50 text-wrap">Tournament Alias</label>
				<input id="tournamentAlias" class="text-center w-50 rounded-right form-control" type="text" value="">
			</div>
		</div>
	</div>
	<div class="row mt-3 mb-4 justify-content-center">
		<div class="col col-lg-10">
			<h3 class="display-6 pe-none">VISUALS</h3>
			<div class="input-group py-1">
				<label class="fw-bold input-group-text bg-dark text-light w-50 text-wrap">Paddle Color</label>
				<select id="paddleColor" class="form-select bg-dark text-light text-center">
					<option>White</option>
					<option>Yellow</option>
					<option>Red</option>
				</select>
			</div>
			<div class="input-group py-1">
				<label class="fw-bold input-group-text bg-dark text-light w-50 text-wrap">Ball Color</label>
				<select id="ballColor" class="form-select bg-dark text-light text-center">
					<option>White</option>
					<option>Yellow</option>
					<option>Red</option>
				</select>
			</div>
			<div class="input-group py-1 pb-2">
				<label class="fw-bold input-group-text bg-dark text-light w-50 text-wrap">Background Color</label>
				<select id="backgroundColor" class="form-select bg-dark text-light text-center">
					<option>Black</option>
					<option>Blue</option>
					<option>Purple</option>
				</select>
			</div>
		</div>
	</div>
</div>
