<nav class="navbar navbar-dark shadow">
	<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<h1 id="titleHeader" class="mx-auto"><a href="javascript:void(0)" class="display-5 fw-bolder link-light link-underline link-underline-opacity-0 link-opacity-75-hover">TRANSCENDENCE</a></h1>
	<div id="navbarCollapse" class="collapse navbar-collapse">
		<div class="navbar-nav ps-4">
			<!--ADD HOME BTN-->
			<a id="homeBtn" href="javascript:void(0)" class="nav-item nav-link">Home</a>
			<a id="profileBtn" href="javascript:void(0)" class="nav-item nav-link">Profile</a>
			<a id="friendRequestsBtn" href="javascript:void(0)" class="nav-item nav-link">Friend Requests</a>
			<a id="statsBtn" href="javascript:void(0)" class="nav-item nav-link">Stats</a>
			<a id="logoutBtn" href="javascript:void(0)" class="nav-item nav-link text-light">Logout</a>
		</div>
	</div>
</nav>
