<div class="row text-center d-flex justify-content-center">
	<div id="pfpContainer" class="col-12 col-lg-2 my-3 mt-lg-0">
		<!--PROFILE PIC-->

		<a href="javascript:void(0)"><img id="userPfp" style="object-fit: cover; width: 169px; height: 169px" class="img-fluid rounded-circle" alt="User Profile Picture"></a>

	</div>
	<div class="col-12 col-lg-8 d-grid border rounded text-wrap">

		<div class="row h-auto">
			<div id="onlineStatusCol" class="col d-flex justify-content-start align-items-start"></div>
			<div id="playerCardControlsCol" class="col d-flex justify-content-end align-items-start" data-bs-placement="right" data-bs-content=" "></div>
		</div>
		<div class="flex-row flex-fill align-middle">
			<div class="col py-auto d-flex justify-content-center">
				<!--USERNAME-->
				<h1 class="display-1"><a href="javascript:void(0)" id="userNameDisplay" class="link-light link-underline link-underline-opacity-0 link-opacity-75-hover"></a></h1>
			</div>
		</div>
		<div class="row d-flex">
			<div class="col w-75">
				<!--MOTTO-->
				<p id="mottoDisplay" class="fst-italic pe-none text-break" ></p>
			</div>
		</div>
	</div>
</div>
