<div class="row text-center d-flex justify-content-center">
	<div class="col-12 col-lg-2 my-3 mt-lg-0">
		<!--PROFILE PIC-->

		<a href="#"><img id="userPfp" class="img-fluid rounded-circle" alt="User Profile Picture"></a>

	</div>
	<div class="col-12 col-lg-8 d-grid border rounded">
		<div class="row h-auto">
			<div class="col d-flex justify-content-end align-items-start">
				<button id="acctSettingsBtn" type="button" class="btn btn-sm btn-outline-light my-2"><i class="bi-gear-fill"></i></button>
			</div>
		</div>
		<div class="flex-row flex-fill align-middle">
			<div class="col py-auto d-flex justify-content-center">
				<!--USERNAME-->
				<h1 class="display-1"><a href="#" id="userNameDisplay" class="link-light link-underline link-underline-opacity-0 link-opacity-75-hover"></a></h1>
			</div>
		</div>
		<div class="row d-flex">
			<div class="col">
				<!--MOTTO-->
				<p id="mottoDisplay" class="fst-italic"></p>
			</div>
		</div>
	</div>
</div>
<div id="viewRow" class="row mt-4 text-center d-flex justify-content-center">
</div>