<div class="col-12 col-lg-4 my-2 border rounded">
	<h1 class="display-3 text-center mt-4">
		FRIENDS LIST
	</h1>
	<div class="position-relative my-4" style="height: 250px; overflow-x: auto;">
		<table class="table table-responsive table-borderless table-hover table-dark fw-bolder align-middle">
			<tbody id="friendsList">
				<!--FRIENDS LIST-->
			</tbody>
		</table>
	</div>
</div>
<div class="col-12 col-lg-6 my-2 border rounded">
	<h1 class="display-3 text-center mt-4">MATCH HISTORY</h1>
	<div class="row">
		<div class="col-12 d-grid border-top">
			<!--MATCH STATS (TOTAL GAMES PLAYED/WINS/LOSSES)-->
			<div class="row d-flex my-2 py-2 align-content-center">
				<div class="col-3 col-lg-3 text-wrap align-self-center text-end">
					<small>MATCHES PLAYED</small>
				</div>
				<div class="col-1 col-lg-1 align-self-center text-start">

					<small id="played"></small>

				</div>
				<div class="col-3 col-lg-3 text-wrap align-self-center text-end">
					<small>WINS</small>
				</div>
				<div class="col-1 col-lg-1 align-self-center text-start">

					<small id="won"></small>

				</div>
				<div class="col-3 col-lg-3 text-wrap align-self-center text-end">
					<small>LOSSES</small>
				</div>
				<div class="col-1 col-lg-1 align-self-center text-start">

					<small id="lost"></small>

				</div>

			</div>
			<!--TOURNAMENT STATS-->
			<div class="row d-flex my-2 py-2 align-content-center border-top border-bottom">
				<div class="col-5 col-lg-4 text-wrap align-self-center text-end">
					<small>TOURNAMENTS JOINED</small>
				</div>
				<div class="col-1 col-lg-2 align-self-center text-start">

					<small>1</small>

				</div>
				<div class="col-5 col-lg-4 text-wrap align-self-center text-end">
					<small>TOURNAMENTS WON</small>
				</div>
				<div class="col-1 col-lg-2 align-self-center text-start">

					<small>2</small>

				</div>
			</div>
		</div>
		<!--MATCH HISTORY-->
		<div class="col-12 border-top border-start">
			<div class="card bg-dark text-center">
				<div class="card-header mx-auto">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a href="#singleMatchHistory" class="nav-link bg-dark text-light active" data-bs-toggle="tab">1v1</a>
						</li>
						<li class="nav-item">
							<a href="#tournamentHistory" class="nav-link bg-dark text-light" data-bs-toggle="tab">Tournaments</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<div class="tab-content">
						<div class="tab-pane fade show active" id="singleMatchHistory">
							<div class="position-relative" style="height: 200px; overflow-x: auto;">
								<table class="table table-responsive table-dark">
									<thead>
										<tr>
											<th>Date</th>
											<th>Opponent</th>
											<th>Result</th>
										</tr>
									</thead>
									<tbody id="matchHistory">
										<!--MATCH HISTORY-->
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane fade" id="tournamentHistory">
							<div class="position-relative" style="height: 200px; overflow-x: auto;">
								<table class="table table-responsive table-dark">
									<thead>
										<tr>
											<th>Date</th>
											<th>Placement</th>
										</tr>
									</thead>
									<tbody id="tournamentHistory">
										<!--TOURNAMENT HISTORY-->
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>