<div class="col-12 col-lg-10 mt-2 py-2 border rounded">
    <h3 class="m-2 mt-3 px-2 text-custom text-center text-bold display-3 pe-none">STATS</h3>
    <div class="w-100 py-3 d-flex flex-row align-items-center">
        <p class="w-100 fs-5 d-inline w-50 text-center pe-none strong">Wins | <span id="wins">0</span></p>
        <p class="w-100 fs-5 d-inline w-50 text-center pe-none strong">Lost | <span id="lost">0</span></p>
        <p class="w-100 fs-5 d-inline w-50 text-center pe-none strong">Scored | <span id="scored">0</span></p>
        <p class="w-100 fs-5 d-inline w-50 text-center pe-none strong">Suffered | <span id="suffered">0</span></p>
    </div>
    <div class="d-flex flex-wrap">
        <div class="w-100 my-2 d-flex flex-column flex-wrap" style="height: 350px;">
            <div class="w-50 h-100 d-flex flex-column align-items-center justify-content-center">
                <div class="w-100 h-100 d-flex flex-row align-items-center justify-content-center">
                    <div class="w-100 p-0 px-2 h-100 d-flex flex-column align-items-center justify-content-between">
                        <div class="w-100 position-relative d-flex flex-column align-items-center justify-content-center pe-none">
                            Won
                        </div>
                        <div class="w-100 h-75 d-flex align-items-center justify-content-between">
                            <span class="w-25 text-left pe-none">Suffered</span>
                            <svg id="Graph" class="m-0 p-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="200" height="200">
                                <polygon id="chart" fill="#ffa07ad0" points=""></polygon>
                                <line id="line" x1="100" y1="100" x2="100" y2="100"></line>
                            </svg>
                            <span class="w-25 text-left pe-none">Scored</span>
                        </div>
                        <div class="w-100 position-relative d-flex flex-column align-items-center justify-content-center pe-none">
                            Lost
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-50 d-flex flex-wrap align-items-center justify-content-start" style="overflow-y: scroll;">
                <table class="table table-responsive table-borderless table-hover table-dark">
                    <thead class="head-responsive" style="position: sticky; top: 0;">
                        <tr>
                            <th class="col pe-none">In Graph</th>
                            <th class="col pe-none">Opponent</th>
                            <th class="col pe-none">Score</th>
                            <th class="col pe-none">Winner</th>
                        </tr>
                    </thead>
                    <tbody id="matchStats" class="table-responsive">
                        <!-- Match entries for stats -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .graph-select {
        top: 0;
        right: 0;
    }

    .graph-select>* {
        margin-top: -11px !important;
    }
    .graph-opts {
        display: inline-block;
        margin-left: 10px !important;
        border: 1.5px solid lightgreen;
        padding: 0 1.5px !important;
        font-size: 14px;
    }
    .graph-opts:last-child {
	    border: 1.5px solid lightsalmon;
    }
</style>